body {
  background-color: black;
}


.container{
  padding-top: 90;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  text-align: center;
  display: block;
  max-height: 50%;
}



.thumbnail{
  border: hidden;
}

.music{
  height: auto;
  position: relative;
  bottom: 220;
  right: 330;
}
.merch{
   height: auto;
   position: relative;
   bottom: 460px;
   right: 270px;
}
.book{
  height: auto;
  position: relative;
  bottom: 500px;
  right: -240px;
}

.shows{
  height: auto;
  position: relative;
  bottom: 600px;
  right: 30px;
}

.buttons{
  position: relative;
  text-align: center;
  top: 22%;
}

.face{
  position: absolute;
  bottom: 150px;
}

li{
  display: inline;
  padding: 50px;
}
