body {
  background-color: black;
}

.container{
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  text-align: center;
  display: block;
  max-width: 100%;
  height: auto;
}


.buttons{
  top: 70%;
  position: absolute;
  text-align: center;
  display: block;
}

.music{
  height: auto;
  position: relative;
  bottom: 220;
  right: 350;
}
.merch{
   height: auto;
   position: relative;
   bottom: 460px;
   right: 280px;
}
.book{
  height: auto;
  position: relative;
  bottom: 500px;
  right: -260px;
}

.shows{
  height: auto;
  position: relative;
  bottom: 630px;
  right: 30px;
}

#buttons{
  width: auto;
  position: relative;
  text-align: center;
}

li{
  display: inline;
  padding: 50px;
}
