body {
  background-color: black;
}

.container1{
  padding-top: 50;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  max-height: 50%;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.thumbnail {
  border: hidden;
}

.music {
  height: auto;
  position: relative;
  bottom: 220;
  right: 360;
}

.merch{
   height: auto;
   position: relative;
   bottom: 460px;
   right: 320px;
}
.book{
  height: auto;
  position: relative;
  bottom: 500px;
  right: -260px;
}

.shows{
  height: auto;
  position: relative;
  bottom: 660px;
  right: 30px;
}

.buttons{
  position: fixed;
  top: 92%;
}

.face{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

li{
  display: inline;
  padding: 30px;
}
