body{
  background-color: black;
}

.navbar-header{
  background-color: black;
}

.navbar-default{
  background-color: black;
  border-color: black;
}

.nav a{
  font-family: arial;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
.social-buttons ul{
  padding-left: 0;
}

.social-buttons li{
  display: inline;
  padding: 40px;
  overflow: hidden;
}

.social-buttons .container{
  margin-left: auto;
  margin-right: auto;
}
